.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.container{
    width: 60%;
    padding-bottom: 70px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    border-radius: 8px;
    padding: 10px 20px;
}
.categories h1{
    color: white;
}




